.MenuBarContainer{
    width: 100%;
    height: 100%;
    max-width: 350px;
    box-sizing: border-box;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

.MenuBarContainerScroll{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}